body {cursor: url(https://cur.cursors-4u.net/food/foo-2/foo101.cur), auto !important; 
background-image: url(https://i.pinimg.com/originals/f3/64/b7/f364b7d0a49566891789d291b8b2e53f.png);
background-repeat: no-repeat;
background-size: cover;}

html, 
body {
    height: 100%;
}

* {
  font-family: "MS Sans Serif"
}

#desktop {
  overflow: hidden;
  height: 100vh;
  width: 100%;
}

/* Login Form */
.login-form {
text-align: center;
padding: 2%;
}

.login-form form {
  padding: 0 2%;
  text-align: center;
}

.login-form form img {
  width: 200px;
}

.login-form form .form-group {
  text-align: left;
}

.login-form form .form-group label {
  font-size: 1rem;
}

.login-form form a button {
  width: 50%;
}

/* Navbar */
.navg-item:hover {
  background-color: grey;
}

.navg-item-icon {
  margin-right: 20px;
}

.nav-timer {
    position: fixed;
    right: 2%;
    font-weight: bold;
    font-size: 0.7rem;
    border-top: 1px solid #08080E;
    border-left: 1px solid #08080E;
    border-right: 1px solid #FCFCFC;
    border-bottom: 1px solid #FCFCFC;
    padding: 5px 15px;
    width: 150px;
}
.nav-gadg {
  margin-right: 5px;
  width: 170px;
  overflow: hidden;
  height: 35px;
  padding: 0 10px 0 6px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: inset 1px 1px grey;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQYV2M8cODAf3t7ewbG/////z948CADAFuqCj64BtLKAAAAAElFTkSuQmCC);

}

.nav-gadg img {
  display: inline-block;
  float: left;
  margin-top: 5%;
  width: 20px;
}

.nav-gadg p {
  clear: left;
  display: inline-block;
  margin-left: 10%;
  margin-top: 3%;
  
}

.nav-timer-logo {
  text-align: left;
  width: 15px;
  margin-right: 2px;
}

.nav-timer span{
  float: right;
}

/* Icons */

.icon {    
  flex: inherit;
  display: inline-block;
  background-color: transparent;
  text-align: center;
  margin: 0 2%;
}

.icon-img {
  width: 50px;
  height: 45px;
}
.active-icon {
  background-color: rgba(238, 130, 238, 0.609);
}

.icons-container {
  display: grid;
  height: 90%;
  width: 100%;
  background-color: transparent;
  margin: 2% 1%;
  grid-template-columns: repeat(10, 90px);
  column-gap: 10px;
  grid-template-rows: repeat(7, 80px);
  grid-auto-columns: auto;
  grid-auto-flow: column;
}


/* Gadget */

.gadget {
  position: absolute;
  width: 420px !important;
  height: auto !important;
  min-height: 285px;
  z-index: 15;
  top: 35%;
  left: 45%;
  margin: -100px 0 0 -150px;
}

.gadget2 {
  position: absolute;
  width: 420px;
  height: 300px;
  z-index: 15;
  top: 45%;
  left: 55%;
  margin: -100px 0 0 -150px;
}

.card-header {
  font-size: 1rem;
}

.close-btn {
  float: right
}

.gadget-textarea {
  width: 100%;
  height: 40vh;
  margin-top: 20px
}

.gadget-icons {
  width: 100%;
  background-color: grey;
  text-align: right;
  /* border: 1px solid rgb(65, 62, 62); */
}

.gadget-content {
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 4%;
  border: 1px solid rgb(65, 62, 62);
}

.gadget-img {
  width: 100%;
  height: 90%;
}

.folder-container > * {
  margin-right: 10% !important;
}

/* Create Form */
.form-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 22px;
}

.create-icons {
  height:45px;
}

.image-form-input {
  margin-bottom: 0;
}

/* .comp-body-flex {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */


.recycle-btn {
  position: absolute;
  bottom: 0;
  left: 13%;
}